<div id="familyProfileModal" class="modalDialog">
	<div style="text-align: center; width: 700px;">
		<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
		<div id="familyProfilePic" class="pictureFrame" style="width: 320px;">
			<a title="Comment" class="modalButton comment">C</a>
			<img src="../img/family/xxx" width="320" height="248" style="height:248px;">
		</div>
		<div class="personProfileInfo" style="width: 320px;">
			<h3>The ? Family!</h3>
			<div class="frame">
				Home area codes:
			</div>
				<a href="#personModal" class="ptButton showModalTrigger" onclick="onShowProfileModal('', , 'familyProfileModal')"></a></br>
				<a href="#personModal" class="ptButton showModalTrigger" onclick="onShowProfileModal('',, 'familyProfileModal')"></a></br>
			</div>
			<div class="personProfileEdit" style="width: 670px;">
				<p></p>
			</div>
		</div>
	</div>
</div>