<div id="infoModal" class="modalDialog">
	<div>
		<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
		<h2>What is {{.Title}}! all about</h2>
		<h3>The story</h3>
		<p>One day, I was pondering how shy my little boy is and how will I get him to open up to other children.  We didn't know very many families with small kids and thought about how easy it was to meet people on the internet.  I asked my wife about what she thought of a 'dating' site for babies.</p>
		<p>At first she scoffed, but in a moment the whole idea came to her as id did for me.  Of course if would be a tool for parents to set up playdates for their kids.  We could match up kids too young to make their own friends with similar developmental abilities and interest.</p>
	</div>
</div>