<div id="personModal" class="modalDialog">
	<div style="text-align: center; width: 600px;">
		<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
		<a title="Edit Mode" class="modalButton editmode" onclick="toggleEditMode('personModal')">E</a>
		<div id="personProfilePic" class="pictureFrame">
			<a title="Edit" class="modalButton edit">E</a>
			<a href="#editModal" title="Comment" class="modalButton comment" >C</a>
			<img src="../img/blank.jpg">
		</div>
		<div class="personProfileInfo"></div>
		<div id="personProfile" class="personProfileEdit">
			<p></p>
		</div>
		<div id="personProfileControl" class="personProfileEdit" style="border: 0px;">
			<input class="ptButton" value="Edit Like/Dislikes" style="width: 100px;"/>
			<input class="ptButton" value="Edit Buzzwords" style="width: 100px;"/>
			<input class="ptButton" value="Edit Turnoffs" style="width: 100px;"/>
			<input class="ptButton" value="Manage Pictures" style="width: 100px;"/>
			<input class="ptButton" value="Manage Questions" style="width: 100px;"/>
		</div>
		<div id="familyLink" class="personProfileEdit" style="border: 0px;">
			<input class="ptButton" value="See Family" style="width: 100px;"/>
			<input class="ptButton" value="Chat" style="width: 100px;"/>
			<input class="ptButton" value="Message" style="width: 100px;"/>
		</div>
	</div>
</div>