{{ $family := session "param" "fid" }} {{ $name :=  session "param" "name" }} {{ $user := session "param" "userName" }}
{{ with get "childsPlay" "getPerson" $family $name }}
<div id="personModal" class="modalDialog">
	<div style="text-align: center; width: 600px;">
		<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
		<a title="Tag" class="modalButton tag">T</a>
		<a title="Chat" class="modalButton chat" onclick='startChat("{{ $user }}to{{ $family }}","{{ $user }}")'>*</a>
		<!--<a title="Edit Mode" class="modalButton editmode" onclick="toggleEditMode('personModal')">E</a>-->
		<div id="personProfilePic" class="pictureFrame">
			<a title="Edit" class="modalButton edit">E</a>
			<a title="Comment" class="modalButton comment" onclick="input('comment on profile picture',this, 'personProfile:{{ $name }}', 12, 65, 0,0,0,0);">C</a>
			<!--<img src="../img/profile/{{ .Pic }}">-->
			<img src="../img/test3.bpg">
		</div>
		<div class="personProfileInfo"></div>
		<div id="personProfile" class="personProfileEdit">
			<a title="Edit" class="modalButton edit" onclick="input('New profile for {{ $name }}', this, 'personProfile:{{ $name }}', 4, 180, 0,0,0,0);">E</a>
			<a title="Comment" class="modalButton comment" onclick="input('comment on profile',this, 'personProfilePic:{{ $name }}', 4, 180, 0,0,0,0);">C</a>
			<p>{{ .Profile }}</p>
			<p>fid = {{ $family }}   name = {{ $name }}  userName = {{ $user }}</p>
		</div>
		{{ if eq $family $user }}
			<div id="personProfileControl" class="personProfileEdit" style="border: 0px;">
				<input class="ptButton" value="Edit Like/Dislikes" style="width: 100px;"/>
				<input class="ptButton" value="Edit Buzzwords" style="width: 100px;"/>
				<input class="ptButton" value="Edit Turnoffs" style="width: 100px;"/>
				<input class="ptButton" value="Manage Pictures" style="width: 100px;"/>
				<input class="ptButton" value="Manage Questions" style="width: 100px;"/>
			</div>
		{{ else }}
			<div id="familyLink" class="personProfileEdit" style="border: 0px;">
				<input class="ptButton" value="See Family" style="width: 100px;"/>
				<input class="ptButton" value="Chat" style="width: 100px;"/>
				<input class="ptButton" value="Message" style="width: 100px;"/>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}