<script> 
	var playDateSchedualMarker = 1; 
	var markerOn = false;
</script>
<style>
{{ range .Child }}
.kid_{{ index .Name 0 }} {
	background: #{{random 5 9}}{{random 5 9}}{{random 5 9}};
}
{{ end }}
</style>
<div id="playDateSchedualModal" class="modalDialog">
	<div style="text-align: center; width: 800px; height: 700px;">
		<a href="#myFamilyProfileModal" title="Close" class="closeModal modalButton">X</a>
		<h2>Playdate Schedual Availability</h2>
		<p>Select the times you are available with each child so matches can be made.<p/>
		{{with session "item" "family"}} {{$fam := .}}
			<div class="container">
				{{ range .Child }}				
					<label class="ptSlot" style="display:inline-block; margin-left:8px;">
						<input id="pds-{{index .Name 0}}" type="checkbox" name="child" value="{{ .Prime }}" 
							onclick="if (this.checked) playDateSchedualMarker *= {{.Prime}}; else playDateSchedualMarker/={{.Prime}};">{{index .Name 0}}
					</label>
				{{ end }}
			</div>
			<div class="container week">
				<div class="ptSlot">Coming week</div>
				{{ range $i, $_ := for 1 9 }}
					<div class="day" onmousedown="markerOn=true;" onmouseup="markerOn=false;" onmouseleave="markerOn=false;">
						{{ if eq $i 0 }}
							<div class="ptSlot">Today</div>
						{{ end }}
						{{ if eq $i 1 }}
							<div class="ptSlot">Tomorrow</div>
						{{ end }}
						{{ if ge $i 2 }}
							{{ $num := toString $i }}
							<div class="ptSlot">{{service "utility" "date" $num }}</div>
						{{ end }}
						{{ range $_, $clock := for 8 20 }}
							{{ if lt $clock 12 }}
								<a class="ptSlot" onmousemove="if (markerOn) { 
									$(this).attr('kids',playDateSchedualMarker); 
									if (playDateSchedualMarker==1) $(this).removeClass('avail'); 
									else { 
										$(this).addClass('avail'); 
										{{ range .Child }}
											if (playDateSchedualMarker%{{.Prime}}==0) $(this).addClass('kid_'+{{index .Name 0}});
											else $(this).removeClass('kid_'+{{index .Name 0}});
										{{ end }}
									}">{{ $clock }} am</a>
							{{ end }}
							{{ if eq $clock 12 }}
								<a class="ptSlot" onmousemove="if (markerOn) { $(this).attr('kids',playDateSchedualMarker); if (playDateSchedualMarker==1) $(this).removeClass('avail'); else $(this).addClass('avail'); }">12 pm</a>
							{{ end }}
							{{ if gt $clock 12 }}
								<a class="ptSlot" onmousemove="if (markerOn) { $(this).attr('kids',playDateSchedualMarker); if (playDateSchedualMarker==1) $(this).removeClass('avail'); else $(this).addClass('avail'); }">{{ minus $clock 12 }} pm</a>
							{{ end }}
						{{ end }}
					</div>
				{{ end }}
			</div>
		{{ end }}
	</div>
</div>