
html, body {
	width : 100%;
	height : 100%;
}

div.container {
    width: 90%;
    border: 1px solid blue;
	margin: 15px auto;
	padding: 15px;
}

header, footer {
    color: white;
    background-color: rgba(128, 255, 255, 0.5);
    clear: left;
    text-align: center;
}
header h1 {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav ul, ul {
    list-style-type: none;
    padding: 0;
	margin: 0;
}
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
#main {
	border : 2px inset black;
	background-color: rgba(128, 128, 255, 0.5);
}
#wallpaper {
	z-index : 1;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height : 100%;
	background-color: #ade;
}
#nav-menu {
	z-index : 2;
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	height : 10%;
	background-color: rgba(128, 128, 96, 0.0);
}
#family-chat {
	z-index : 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height : 20%;
	background-color: rgba(128, 128, 96, 0.1);
}
#regionAreas{
	z-index : 1;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height : 100%;
}
#widgetBar {
	position: relative;
	top: 5px;
	left: 5px;
}
.personProfileInfo {
	position: relative;
	float:right;
	top: 0px;
	width: 360px;
	height: 225px;
    border: 1px solid blue;
	margin: 15px auto;
	padding: 15px;
	overflow-y: auto;
}
.personProfileEdit {
	position: relative;
	bottom: 10;
	width: 570px;
	clear: both;
    border: 1px solid blue;
	padding: 15px;
}
.center-in {
	display:block; 
	margin:auto;
}
.frame {
	margin: 0px;
	padding: 0px;
	border: 0px;
	pointer-events: none;
}
.floatFrame {
	overflow: hidden;
	height: calc(100% - 28px);
}
.post {
	position: absolute;
}
#lower{
	width:100%; 
	height:calc(80% - 28px);	
	position: fixed;
	bottom: 0px;
	z-index: 2;
}
.pictureFrame {
	width: 188px;
	height: 248px;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	border-width: 4px;
	border-style: inset;
	border-color: black;
	position: relative;
	top: 0;
	float: left;
}
#images {
	z-index : 2;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height : 100%;
	pointer-events: none;
}
.modalDialog {
	position: fixed;
	font-family: Ariel, Helvetica, sans-serif;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(192, 255, 255, 0.5);
	z-index: 10;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition:  opacity 400ms ease-in;
	transition:  opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #aaf;
	background: -moz-linear-gradient(#aaf, #599);
	background: -webkit-linear-gradient(#aaf, #599);
	background: -o-linear-gradient(#aaf, #599);
}
.modalButton {
	color: #fff;
	line-height: 25px;
	position: absolute;
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeModal {
	background: #666;
	right: -12px;
	top: -10px;
}
.closeModal:hover { background: #0df; }
.minimizeModal {
	background: #666;
	right: 14px;
	top: -10px;
}
.minimizeModal:hover { background: #0df; }
.whosHere {
	background: #666;
	right: 38px;
	top: -10px;
}
.whosHere:hover { background: #af0; }
.closeBy {
	background: #666;
	right: 13px;
	top: -10px;
}
.closeBy:hover { background: #0f6; }
#dashboard {
	text-align:center;
}
.dashButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #641ce8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #641ce8;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	text-align: center;
}
.dashButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #148ade), color-stop(1, #bed1c9));
	background:-moz-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-webkit-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-o-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-ms-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:linear-gradient(to bottom, #148ade 5%, #bed1c9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#148ade', endColorstr='#bed1c9',GradientType=0);
	background-color:#148ade;
}
.dashButton:active {
	position:relative;
	top:1px;
}
#playdates {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8a), color-stop(1, #8f9));
	background:-moz-linear-gradient(top, #f8a 5%, #8f9 100%);
	background:-webkit-linear-gradient(top, #f8a 5%, #8f9 100%);
	background:-o-linear-gradient(top, #f8a 5%, #8f9 100%);
	background:-ms-linear-gradient(top, #f8a 5%, #8f9 100%);
	background:linear-gradient(to bottom, #f8a 5%, #8f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8a', endColorstr='#8f9',GradientType=0);
	background-color:#f8a;
}
#messages {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dd8), color-stop(1, #eaa));
	background:-moz-linear-gradient(top, #dd8 5%, #eaa 100%);
	background:-webkit-linear-gradient(top, #dd8 5%, #eaa 100%);
	background:-o-linear-gradient(top, #dd8 5%, #eaa 100%);
	background:-ms-linear-gradient(top, #dd8 5%, #eaa 100%);
	background:linear-gradient(to bottom, #dd8 5%, #eaa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd8', endColorstr='#eaa',GradientType=0);
	background-color:#dd8;
}
#matches {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9f), color-stop(1, #9d9));
	background:-moz-linear-gradient(top, #e9f 5%, #9d9 100%);
	background:-webkit-linear-gradient(top, #e9f 5%, #9d9 100%);
	background:-o-linear-gradient(top, #e9f 5%, #9d9 100%);
	background:-ms-linear-gradient(top, #e9f 5%, #9d9 100%);
	background:linear-gradient(to bottom, #e9f 5%, #9d9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f', endColorstr='#9d9',GradientType=0);
	background-color:#e9f;
}
#mail {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8f9), color-stop(1, #97f));
	background:-moz-linear-gradient(top, #8f9 5%, #97f 100%);
	background:-webkit-linear-gradient(top, #8f9 5%, #97f 100%);
	background:-o-linear-gradient(top, #8f9 5%, #97f 100%);
	background:-ms-linear-gradient(top, #8f9 5%, #97f 100%);
	background:linear-gradient(to bottom, #8f9 5%, #97f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f9', endColorstr='#97f/',GradientType=0);
	background-color:#8f9;
}
.empty {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #999), color-stop(1, #356));
	background:-moz-linear-gradient(top, #999 5%, #356 100%);
	background:-webkit-linear-gradient(top, #999 5%, #356 100%);
	background:-o-linear-gradient(top, #999 5%, #356 100%);
	background:-ms-linear-gradient(top, #999 5%, #356 100%);
	background:linear-gradient(to bottom, #999 5%, #356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#356',GradientType=0);
	background-color:#999;
}
.ptButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #641ce8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #641ce8;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed1c9), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-o-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:linear-gradient(to bottom, #bed1c9 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed1c9', endColorstr='#148ade',GradientType=0);
	background-color:#bed1c9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	text-align: center;
}
.ptButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #148ade), color-stop(1, #bed1c9));
	background:-moz-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-webkit-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-o-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:-ms-linear-gradient(top, #148ade 5%, #bed1c9 100%);
	background:linear-gradient(to bottom, #148ade 5%, #bed1c9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#148ade', endColorstr='#bed1c9',GradientType=0);
	background-color:#148ade;
}
.ptButton:active {
	position:relative;
	top:1px;
}
.ptInput {
	float: right;
}
.ptExpand {
	width: calc(100% - 6px);
	height: 70px;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd), color-stop(1, #fec));
	background:-moz-linear-gradient(top, #ffd 5%, #fec 100%);
	background:-webkit-linear-gradient(top, #ffd 5%, #fec 100%);
	background:-o-linear-gradient(top, #ffd 5%, #fec 100%);
	background:-ms-linear-gradient(top, #ffd 5%, #fec 100%);
	background:linear-gradient(to bottom, #ffd 5%, #fec 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd', endColorstr='#fec',GradientType=0);
	background-color:#ffd;
	cursor:text;
	color:#123;
	font-family:Arial;
	font-size:12px;
	padding:2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0d0;
}
.peekaboo {
	display: none;
}
.ptListItem {
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #577), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #577 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #577 5%, #148ade 100%);
	background:-o-linear-gradient(top, #577 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #577 5%, #148ade 100%);
	background:linear-gradient(to bottom, #577 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#577', endColorstr='#148ade',GradientType=0);
	background-color:#577;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #124d77;
	display:block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:15px;
	padding:2px;
	margin:2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	clear: both;
}	
#local {	
	position: relative;
	font-family: Ariel, Helvetica, sans-serif;
	float: left;
	width: 370px;
	height: 100%;
	z-index: 2;
	opacity:1;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition:  opacity 200ms ease-in;
	transition:  opacity 200ms ease-in;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed1c9), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-o-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:linear-gradient(to bottom, #bed1c9 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed1c9', endColorstr='#148ade',GradientType=0);
	background-color:#bed1c9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px;
	margin: 2px 12px 2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.push{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #122), color-stop(1, #143));
	background:-moz-linear-gradient(top, #122 5%, #143 100%);
	background:-webkit-linear-gradient(top, #122 5%, #143 100%);
	background:-o-linear-gradient(top, #122 5%, #143 100%);
	background:-ms-linear-gradient(top, #122 5%, #143 100%);
	background:linear-gradient(to bottom, #122 5%, #143 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#122', endColorstr='#143',GradientType=0);
	background-color:#122;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	float: left;
	margin: 3px 24px 0px 3px;
}
.pull{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #daa), color-stop(1, #c88));
	background:-moz-linear-gradient(top, #daa 5%, #c88 100%);
	background:-webkit-linear-gradient(top, #daa 5%, #c88 100%);
	background:-o-linear-gradient(top, #daa 5%, #c88 100%);
	background:-ms-linear-gradient(top, #daa 5%, #c88 100%);
	background:linear-gradient(to bottom, #daa 5%, #c88 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#daa', endColorstr='#c88',GradientType=0);
	background-color:#daa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	float: right;
	margin: 3px 3px 0px 24px;
	color:#222;
}
.ptFloatDialog {
	position: relative;
	font-family: Ariel, Helvetica, sans-serif;
	top: calc(100% - 390px);
	float: right;
	width: 280px;
	height: 380px;
	z-index: 2;
	opacity:1;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition:  opacity 200ms ease-in;
	transition:  opacity 200ms ease-in;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed1c9), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-o-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:linear-gradient(to bottom, #bed1c9 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed1c9', endColorstr='#148ade',GradientType=0);
	background-color:#bed1c9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px;
	margin: 2px 12px 2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.local {
	width: 400px;
	height: 300px;
	display: block;
}
.floatPanel{
	position: fixed;
	font-family: Ariel, Helvetica, sans-serif;
	z-index: 2;
	opacity:1;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition:  opacity 200ms ease-in;
	transition:  opacity 200ms ease-in;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed1c9), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-o-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:linear-gradient(to bottom, #bed1c9 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed1c9', endColorstr='#148ade',GradientType=0);
	background-color:#bed1c9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px;
	margin: 2px 12px 2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	pointer-events: auto;
}
.minimizedFloatDialog {
	text-align: left;
	top: calc(100% - 33px);
	height: 25px;
	width: 150px;
	opacity:0.2;
}
.minimizedFloatDialog:hover {
	opacity:1.0;
}
.updated {
	background-color:#f40;
	opacity:0.5;
}
.extendFloatDialog{
	top: calc(100% - 640px);
	height: 630px;
}
.subFloatHeader{
	overflow-y: scroll;
	width: 100%;
	height: 245px;
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color:#122;
}
.hidden {
	display: none;
}
.dialogHeader {
	height: 25px;
	padding:1px;
	margin: 1px;
	text-align: center;
}
.scroll{
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 107px);
	margin: 0px;
	padding: 0px;
}
.letter {
	position: relative;
	font-family: Ariel, Helvetica, sans-serif;
	width: 40px;
	height: 58px;
	z-index: 2;
	opacity:1;
	-webkit-transition: opacity 100ms ease-in;
	-moz-transition:  opacity 100ms ease-in;
	transition:  opacity 100ms ease-in;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #357;
	display:inline;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:48px;
	padding:6px 12px;
	margin: 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #444;
	text-align:center;
}
.letter.ui-draggable-dragging {
	border:3px solid #085;
}
.vowel {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e96), color-stop(1, #ea4));
	background:-moz-linear-gradient(top, #e96 5%, #ea4 100%);
	background:-webkit-linear-gradient(top, #e96 5%, #ea4 100%);
	background:-o-linear-gradient(top, #e96 5%, #ea4 100%);
	background:-ms-linear-gradient(top, #e96 5%, #ea4 100%);
	background:linear-gradient(to bottom, #e96 5%, #ea4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e96', endColorstr='#ea4',GradientType=0);
	background-color:#e96;
}
.consonent {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8e6), color-stop(1, #afb));
	background:-moz-linear-gradient(top, #8e6 5%, #afb 100%);
	background:-webkit-linear-gradient(top, #8e6 5%, #afb 100%);
	background:-o-linear-gradient(top, #8e6 5%, #afb 100%);
	background:-ms-linear-gradient(top, #8e6 5%, #afb 100%);
	background:linear-gradient(to bottom, #8e6 5%, #afb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e6', endColorstr='#afb',GradientType=0);
	background-color:#8e6;
}
.digraph {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #beb), color-stop(1, #cdc));
	background:-moz-linear-gradient(top, #beb 5%, #cdc 100%);
	background:-webkit-linear-gradient(top, #beb 5%, #cdc 100%);
	background:-o-linear-gradient(top, #beb 5%, #cdc 100%);
	background:-ms-linear-gradient(top, #beb 5%, #cdc 100%);
	background:linear-gradient(to bottom, #beb 5%, #cdc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#beb', endColorstr='#cdc',GradientType=0);
	background-color:#beb;
}
#board {
	margin: auto;
	width: 50%;
	padding:16px 24px;
	background: brown;
	border-radius:2px;
	border:1px solid #357;
}
#word {
	margin: 8px;
	padding: 8px 10px 4px 20px;
	background: #fde;
	border-radius:2px;
	border:1px solid #357;
	width: 400px;
	height: 78px;
}
.minButton{	
	float: left;
	height: 75px;
	width: 25px;
	opacity:1;	
	position: relative;
	font-family: Ariel, Helvetica, sans-serif;
	z-index: 2;
	box-shadow:inset 0px 1px 0px 0px #641ce8;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed1c9), color-stop(1, #148ade));
	background:-moz-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-webkit-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-o-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:-ms-linear-gradient(top, #bed1c9 5%, #148ade 100%);
	background:linear-gradient(to bottom, #bed1c9 5%, #148ade 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed1c9', endColorstr='#148ade',GradientType=0);
	background-color:#bed1c9;
	-moz-border-radius:0px 5px 5px 0px;
	-webkit-border-radius:0px 5px 5px 0px;
	border-radius:0px 5px 5px 0px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:2px;
	margin: 20px 2px 2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	clear: both;
	pointer-events: auto;
}
.vertical{
	-webkit-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	position: relative;
	top: -4px;
	left: -26px;
	display:block;
}
.accordianPanel {
	width: 95%;
    border: 1px solid black;
	background: #bbb;
	margin: 10px auto;
	padding: 10px;
}
.accordianPanel h2 {
	margin: 0px;
}
.accordianPanel div {
	background: #ddf;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: center;
    padding: 6px;
}