<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			var roomlist;
			var config;
			$(document).ready( function () { 
				roomlist = ["20720","20726"];
				config = {};
				enterRoom('{{ session "data" "userName" }}');
				{{range script "init-script"}} {{.}} {{end}} {{range script "init-home-script"}} {{.}} {{end}}
			} ); 
			{{range script "home-script"}} {{.}} {{end}}
			
			function setBpg(filename, where, w, h) {
				var canvas = document.createElement("canvas");
				canvas.width = w;
				canvas.height = h;
				where.appendChild(canvas);				
				var ctx = canvas.getContext("2d");
				var img = new BPGDecoder(ctx);				
				img.onload = function() { ctx.putImageData(this.imageData, 0, 0); };
				img.load(filename);
			}
			
			
		</script>
	</head>
	<body>
		<div class="frame" style="position: fixed; top: 5%; height: 15%; width: 100%; z-index: 2;">
			{{page "header"}}
			{{page "banner"}}
			{{page "dashboard"}}
		</div>
		<div id="lower" class="frame">
			{{with session "item" "family"}} {{ $fam := . }}
				{{range .Zip }} {{ $place := . }} {{ $cfg := index $fam.Item . }}
					<div id="local-{{ . }}" class="floatPanel local" onclick="$('.floatPanel').css('z-index','2'); $(this).css('z-index','3');" 
						style='position:fixed; left:{{ $cfg.X }}px; top:{{ $cfg.Y }}px; width:{{ $cfg.W }}px; height:{{ $cfg.H }}px;'>
						<a title="Hide" class="hideModal modalButton" onclick="sidebar('local-{{ . }}');">&lt</a>
						<a class='modalButton whosHere' title='Who'>?</a>
						<a class='modalButton closeBy' title='Map' onclick="openMap('{{ . }}');">*</a>
							<h4 class='dialogHeader ptListItem'>
								<a onclick='enterRoom("{{ . }}")'>{{ . }}</a>
							</h4>
						<div class="floatFrame">
							{{ range get "childsPlay" "posts" . "$cfg.W" "$cfg.H" }}
								<div class="post" style="left:{{.X}}%; top:{{.Y}}%; width:{{.W}}px; height:{{.H}}px;" title="{{.Title}}" onclick="openArticle('{{ $place }}','{{.Link}}')">
									<img src="../img/{{.JPG}}" width="100%" height="100%">
								</div>
							{{ end }}
						</div>
					</div>
					<div id="local-{{ . }}-Min" class="minButton" style="display: none;">
						<a title="Hide" class="hideModal modalButton" onclick="sidebar('local-{{ . }}');">&gt</a>
						<a class='vertical' style='height: 75px;' onclick='enterRoom("{{ . }}")'>{{ . }}</a>					
					</div>
				{{end}}
			{{end}}
			<div class="panel" style="position: absolute; top: 0px;">
				<div class="row panel-body" style="height: 100%; overflow: hidden;"> 
					<div id="notes" class="span4"></div>	<div class="span8"></div>
				</div>
			</div>
		</div>
		{{ page "wallpaper" }}
		<div id="nav-menu">
			<svg id="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				{{range htmls "circleMenuItem" "MODAL>>logOutModal,myFamilyProfileModal,infoModal,adminModal,loungeModal" "TX>>50,130,210,290,370,450" "FILL>>93e,3e9,9e3,e93,39e,e39"	"LABEL>>Bye-Bye,Profile,Info,Admin,Lounge" "CX>>90,170,250,330,410,490"}}
					{{.}}
				{{end}}
			</svg>
		</div>
		<div id="alert-menu">
			<svg id="alerts" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
			</svg>
		</div>
		<div id="images"><svg width="100%" height="100%"></svg></div>
		{{ page "modal/welcome" }}
		<div id="myFamilyProfileModal" class="modalDialog">
			<div style="text-align: center; width: 700px;">
				<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
				{{with session "item" "family"}} {{$fam := .}}
					<div id="familyProfilePic" class="pictureFrame" style="width: 320px;">
						<a title="Edit" class="modalButton edit peekaboo" style="display:none;">E</a>
						{{ with index .Comments "ProfilePic" }}
							{{ $length := len . }}
							{{if not eq $length 0}}
								<a title="Comments" class="modalButton comment" style="display:none;">C</a>
							{{end}}
						{{end}}
						<img src="../img/family/{{ .ProfilePic }}" width="320" height="248" style="height:248px;">
					</div>
					<div class="personProfileInfo" style="width: 320px;">
						<h3>The {{ with index .Parent 0 }} {{ index .Name 1}} {{ end }}Family!</h3>
						<div class="frame">
							Home area codes: <a title="Add Zip" class="modalButton side" style="display:none;" onclick="configEdit('{{$fam.Login.User}}', 'addAreaCode', 'myFamilyProfileModal')">+</a>
							{{range .Zip }}<a>{{ . }}</a><a title="Remove Zip" class="modalButton side" style="display:none;" onclick="removeItem('{{$fam.Login.User}}', 'deleteAreaCode', 'myFamilyProfileModal')">-</a>
							{{ end }}
						</div>
						{{range .Parent }}
							<!--<a href="?fid={{ $fam.Login.User }}&name={{ index .Name 0 }}#personModal" class="ptButton showModalTrigger" >{{index .Name 0}} {{index .Name 1}}</a></br>-->
							<a class='ptButton' onclick='onShowProfileModal("{{ $fam.Login.User }}", "{{ index .Name 0 }}","myFamilyProfileModal")'>{{index .Name 0}} {{index .Name 1}}</a></br>
						{{ end }}
						{{range .Child }}
							<!--<a href="#personModal" class="ptButton showModalTrigger" onclick="onShowProfileModal('{{$fam.Login.User}}', {{index .Name 0}}, 'myFamilyProfileModal')">{{index .Name 0}} {{index .Name 1}}, {{.Sex}}, Age {{.Age}}</a></br>-->
							<a class='ptButton' onclick='onShowProfileModal("{{ $fam.Login.User }}", "{{ index .Name 0 }}","myFamilyProfileModal")'>{{index .Name 0}} {{index .Name 1}}</a></br>
						{{ end }}
					</div>
					<div class="personProfileEdit" style="width: 670px;">
						<a title="Edit Family profile" class="modalButton edit peekaboo" onclick="input('New profile for {{ $fam.Login.User }}', this, 'familyProfile:{{ $fam.Login.User }}', 4, 180, 0,0,0,0);">E</a>
						<p>{{.Profile}}</p>
					</div>
					<div class="personProfileEdit" style="width: 670px; border: 0px;">
						<a href="#manageAlbumsModal" class="ptButton" value="Manage albums" >Manage albums</a>
						<input class="ptButton" value="Manage family" style="width: 100px;"/>
					</div>
				{{end}}
			</div>
		</div>
		{{ page "modal/family" }}
		{{ page "modal/person" }}
		{{ page "modal/info" }}
		{{ page "modal/album" }}
		<div id="editModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
				<h2>Edit</h2>
			</div>
		</div>
		<div id="mapModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
				<h2>Map</h2>
			</div>
		</div>
		{{ page "modal/article" }}
		<div id="logOutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal modalButton">X</a>
				<h2>Are you sure you want to exit?</h2>
				<div class="container">
					<form action="/home" method="post">
						<input type="submit" class= "ptButton" value="Yes">
						<a href="#close" class= "ptButton">No</a>
						<input type="hidden" name="postProcessingHandler" value="logout">
						<input type="hidden" name="redirect" value="home">
					</form>
				</div>
				<p>Sorry to see you leave.</p>
				<p>Love to watch you go.</p>
			</div>
		</div>
	</body>
</html>