<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			$(document).ready( function () { 
				{{range script "pre-script"}}
					{{.}}
				{{end}}
			} );
		</script>
	</head>
	<body>
		<div style="position: fixed; top: 5%; height: 30%; width: 100%; z-index: 2;">
			<div>
				{{page "banner"}}
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{with $test := service "account" "isLoggedIn"}}
								{{if eq "True" $test}}
									Hello, {{service "account" "session" "name"}}
								{{end}}
							{{end}}
						</div>
						<div class="col-xs-10">
							{{text "test"}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="wallpaper">
			<svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				<script>
					var popSound = new Audio('/audio/bubblepop.mp3');
					function pop(cir) {
						cir.parentNode.removeChild(cir);
						popSound.play();
					}
				</script>
			</svg>
		</div>
		<div id="nav-menu">
			<svg id="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				{{range htmls "circleMenuItem" "MODAL>>logOutModal,aboutModal,infoModal,adminModal,loungeModal" "TX>>50,130,210,290,370,450" "FILL>>93e,3e9,9e3,e93,39e,e39"	"LABEL>>Bye-Bye,About,Info,Admin,Lounge" "CX>>90,170,250,330,410,490"}}
					{{.}}
				{{end}}
			</svg>
		</div>
		<div id="images">
			<svg width="100%" height="100%"></svg>
		</div>
		<div id="aboutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>About li'lPlayDates!</h2>
				<p>This is what we do</p>
			</div>
		</div>
		<div id="infoModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>What is li'lPlayDates! all about</h2>
				<h3>The story</h3>
				<p>One day, I was pondering how shy my little boy is and how will I get him to open up to other children.  We didn't know very many families with small kids and thought about how easy it was to meet people on the internet.  I asked my wife about what she thought of a 'dating' site for babies.</p>
				<p>At first she scoffed, but in a moment the whole idea came to her as id did for me.  Of course if would be a tool for parents to set up playdates for their kids.  We could match up kids too young to make their own friends with similar developmental abilities and interest.</p>
			</div>
		</div>
		<div id="adminModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Administer li'lPlayDates!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="loungeModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Welcoome to li'lPlayDates lounge!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="logOutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Are you sure you want to exit?</h2>
				<div class="container">
					<form action="/home" method="post">
						<input type="submit" class= "ptButton" value="Yes">
						<a href="#close" class= "ptButton">No</a>
						<input type="hidden" name="postProcessingHandler" value="logout">
						<input type="hidden" name="redirect" value="home">
					</form>
				</div>
				<p>Sorry to see you leave.</p>
				<p>Love to watch you go.</p>
			</div>
		</div>
	</body>
</html>