<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			$(document).ready( function () { 
				{{range script "pre-script"}}
					{{.}}
				{{end}}
			} ); 
			{{range script "home-script"}}
				{{.}}
			{{end}}
		</script>
		{{ajax "var:newRoomName" "var:newRoomPass" "newRoomSetup" "url:home" "trigger:newRoom" "handler:newRoom" "target:roomList" "data:'newRoomName':newRoomName,'newRoomPass':newRoomPass" "newRoomSuccess"}}
	</head>
	<body>
		<div style="position: fixed; top: 5%; height: 30%; width: 100%; z-index: 2;">
			<div>
				{{page "banner"}}
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{with $test := service "account" "isLoggedIn"}}
								{{if eq "True" $test}}
									Hello, {{service "account" "session" "name"}}
								{{end}}
							{{end}}
						</div>
						<div class="col-xs-10">
							{{target "roomList" "<ul class='ptButton'><li class='ptButton'>Lobby</li></ul>"}}
							<input id="newRoom-name" type="text" class="ptButton" size="24"/>
							<input id="newRoom-pass" type="password" class="ptButton" size="24"/>
							<input id="newRoom-trigger" class="ptButton" type="button" value="newRoom" />
							</br></br>
							<div id="board">
								<div id="word"></div></br>
								<div id="letter-A" class="letter vowel">A</div>
								<div id="letter-B" class="letter consonent">B</div>
								<div id="letter-C" class="letter consonent">C</div>
								<div id="letter-D" class="letter consonent">D</div>
								<div id="letter-E" class="letter vowel">E</div>
								<div id="letter-F" class="letter consonent">F</div>
								<div id="letter-G" class="letter consonent">G</div>
								<div id="letter-H" class="letter consonent">H</div>
								<div id="letter-I" class="letter vowel">I</div></br>
								<div id="letter-J" class="letter consonent">J</div>
								<div id="letter-K" class="letter consonent">K</div>
								<div id="letter-L" class="letter consonent">L</div>
								<div id="letter-M" class="letter consonent">M</div>
								<div id="letter-N" class="letter consonent">N</div>
								<div id="letter-O" class="letter vowel">O</div>
								<div id="letter-P" class="letter consonent">P</div>
								<div id="letter-Qu" class="letter consonent">Qu</div></br>
								<div id="letter-R" class="letter consonent">R</div>
								<div id="letter-S" class="letter consonent">S</div>
								<div id="letter-T" class="letter consonent">T</div>
								<div id="letter-U" class="letter vowel">U</div>
								<div id="letter-V" class="letter consonent">V</div>
								<div id="letter-W" class="letter consonent">W</div>
								<div id="letter-X" class="letter consonent">X</div>
								<div id="letter-Y" class="letter consonent">Y</div>
								<div id="letter-Z" class="letter consonent">Z</div></br>
								<div id="digraph-TH" class="letter digraph">TH</div>
								<div id="digraph-SH" class="letter digraph">SH</div>
								<div id="digraph-CH" class="letter digraph">CH</div>
								<div id="digraph-GH" class="letter digraph">GH</div>
								<div id="digraph-RH" class="letter digraph">RH</div>
								<div id="digraph-WH" class="letter digraph">WH</div></br>
								<div id="digraph-PH" class="letter digraph">PH</div>
								<div id="digraph-WH" class="letter digraph">CK</div>
								<div id="digraph-WR" class="letter digraph">WR</div></br>
								<div id="digraph-AI" class="letter vowel">AI</div>
								<div id="digraph-AE" class="letter vowel">AE</div>
								<div id="digraph-AY" class="letter vowel">AY</div>
								<div id="digraph-A_E" class="letter vowel">A_E</div></br>
								<div id="digraph-EI" class="letter vowel">EI</div>
								<div id="digraph-EIGH" class="letter vowel">EIGH</div>
								<div id="digraph-AY" class="letter vowel">AY</div>
								<div id="digraph-A_E" class="letter vowel">A_E</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="wallpaper">
			<svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				<script>
					var popSound = new Audio('/audio/bubblepop.mp3');
					function pop(cir) {
						cir.parentNode.removeChild(cir);
						popSound.play();
					}
				</script>
			</svg>
		</div>
		<div id="nav-menu">
			<svg id="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				{{range htmls "circleMenuItem" "MODAL>>logOutModal,aboutModal,infoModal,adminModal,loungeModal" "TX>>50,130,210,290,370,450" "FILL>>93e,3e9,9e3,e93,39e,e39"	"LABEL>>Bye-Bye,About,Info,Admin,Lounge" "CX>>90,170,250,330,410,490"}}
					{{.}}
				{{end}}
			</svg>
		</div>
		<div id="images">
			<svg width="100%" height="100%"></svg>
		</div>
		<div id="aboutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>About li'lPlayDates!</h2>
				<p>This is what we do</p>
			</div>
		</div>
		<div id="infoModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>What is li'lPlayDates! all about</h2>
				<h3>The story</h3>
				<p>One day, I was pondering how shy my little boy is and how will I get him to open up to other children.  We didn't know very many families with small kids and thought about how easy it was to meet people on the internet.  I asked my wife about what she thought of a 'dating' site for babies.</p>
				<p>At first she scoffed, but in a moment the whole idea came to her as id did for me.  Of course if would be a tool for parents to set up playdates for their kids.  We could match up kids too young to make their own friends with similar developmental abilities and interest.</p>
			</div>
		</div>
		<div id="adminModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Administer li'lPlayDates!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="loungeModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Welcoome to li'lPlayDates lounge!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="logOutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Are you sure you want to exit?</h2>
				<div class="container">
					<form action="/home" method="post">
						<input type="submit" class= "ptButton" value="Yes">
						<a href="#close" class= "ptButton">No</a>
						<input type="hidden" name="postProcessingHandler" value="logout">
						<input type="hidden" name="redirect" value="home">
					</form>
				</div>
				<p>Sorry to see you leave.</p>
				<p>Love to watch you go.</p>
			</div>
		</div>
	</body>
</html>