<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			$(document).ready( function () { 
				{{range script "pre-script"}}
					{{.}}
				{{end}}
			} );
		</script>
	</head>
	<body>
		<div style="position: fixed; top: 5%; height: 30%; width: 100%; z-index: 2;">
			<div>
				{{page "banner"}}
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{with $test := service "account" "isLoggedIn"}}
								{{if eq "True" $test}}
									Hello, {{service "account" "session" "name"}}
								{{end}}
							{{end}}
						</div>
						<div class="col-xs-10">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="wallpaper">
			<svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				<script>
					var popSound = new Audio('/audio/bubblepop.mp3');
					function pop(cir) {
						cir.parentNode.removeChild(cir);
						popSound.play();
					}
				</script>
			</svg>
		</div>
		<div id="nav-menu">
			<svg id="menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
				{{range htmls "circleMenuItem" "MODAL>>loginModal,aboutModal,applyModal,infoModal,adminModal,loungeModal" "TX>>50,120,190,260,330,400" "FILL>>93e,3e9,9e3,e93,39e,e39"	"LABEL>>Enter,About,Apply,Info,Admin,Lounge" "CX>>90,160,230,300,370,440"}}
					{{.}}
				{{end}}
			</svg>
		</div>
		<div id="images">
			<svg width="100%" height="100%">
				{{range htmls "pictures" "ID>>family1,family2,family3,family4,family5" "XX>>-100,-250,-190,-250,-190" "YY>>-160,0,0,0,0" "HEIGHT>>800,400,400,400,400" "WIDTH>>534,700,700,700,700" "CX>>10,18,30,46,66" "CY>>26,48,72,82,90" "R>>200,200,200,200,200" "FADE>>1,1,1,1,1" "DUR>>16,16,16,16,16"}}
					{{.}}
				{{end}}
				{{range htmls "pictures" "ID>>family6,family7,family8,family9,family10" "XX>>-100,-250,-190,-250,-190" "YY>>-160,0,0,0,0" "HEIGHT>>800,400,400,400,400" "WIDTH>>534,700,700,700,700" "CX>>10,18,30,46,66" "CY>>26,48,72,82,90" "R>>200,200,200,200,200" "FADE>>0;1;1,0;1;1,0;1;1,0;1;1,0;1;1" "DUR>>15,14,13,12,11"}}
					{{.}}
				{{end}}
				{{range htmls "pictures" "ID>>family11,family12,family13,family14,family15" "XX>>-100,-250,-190,-250,-190" "YY>>-160,0,0,0,0" "HEIGHT>>800,400,400,400,400" "WIDTH>>534,700,700,700,700" "CX>>10,18,30,46,66" "CY>>26,48,72,82,90" "R>>200,200,200,200,200" "FADE>>0;0;1,0;0;1,0;0;1,0;0;1,0;0;1" "DUR>>15,14,13,12,11"}}
					{{.}}
				{{end}}
			</svg>
		</div>
		<div id="loginModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Join us at li'lPlayDates!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="aboutModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>About li'lPlayDates!</h2>
				<p>This is what we do</p>
			</div>
		</div>
		<div id="applyModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Join us at li'lPlayDates!</h2>
				<form>
					Name: <input type="text" name="name" value="full name"><br>
					Mom: <input type="radio" name="position" value="Mom"/>
					Dad: <input type="radio" name="position" value="Dad"/><br>
					Kids: <input type="number" name="numKids" min="1" max="9"/><br>
					<input type="submit">
				</form>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="infoModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>What is li'lPlayDates! all about</h2>
				<h3>The story</h3>
				<p>One day, I was pondering how shy my little boy is and how will I get him to open up to other children.  We didn't know very many families with small kids and thought about how easy it was to meet people on the internet.  I asked my wife about what she thought of a 'dating' site for babies.</p>
				<p>At first she scoffed, but in a moment the whole idea came to her as id did for me.  Of course if would be a tool for parents to set up playdates for their kids.  We could match up kids too young to make their own friends with similar developmental abilities and interest.</p>
			</div>
		</div>
		<div id="adminModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Administer li'lPlayDates!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
		<div id="loungeModal" class="modalDialog">
			<div>
				<a href="#closeModal" title="Close" class="closeModal">X</a>
				<h2>Welcoome to li'lPlayDates lounge!</h2>
				<p>Tell us about yourself</p>
				<p>Who do you know?</p>
			</div>
		</div>
	</body>
</html>